In [12]:
import pandas as pd
import os
import librosa
import librosa.display
import numpy as np
import IPython.display as ipd
import matplotlib.pyplot as plt
from tqdm import tqdm
import tensorflow as tf
%matplotlib inline

In [13]:
def features_extractor(file_name):
    audio, sample_rate = librosa.load(file_name, res_type='kaiser_fast') 
    mfccs_features = librosa.feature.mfcc(y=audio, sr=sample_rate, n_mfcc=40)
    mfccs_scaled_features = np.mean(mfccs_features.T,axis=0)
    
    return mfccs_scaled_features

In [ ]:
'''def features_extractor(audio,sample_rate):
    mfccs_features = librosa.feature.mfcc(y=audio, sr=sample_rate, n_mfcc=40)
    mfccs_scaled_features = np.mean(mfccs_features.T,axis=0)
    
    return mfccs_scaled_features'''

In [24]:
model = tf.keras.models.load_model('saved_models/audio_classification_5.hdf5')

# part1 eval

In [3]:
eval_file_1 = 'spcup_2022_eval_part1\labels_eval_part1.csv'
eval_df_1 = pd.read_csv(eval_file_1,index_col='id')
eval_df_1.head(10)

                                   track
id
0   f14498230d583796987a2e9576695384.wav
1   2eb02f5f517ad346de780b22535824c0.wav
2   d14d2f68081e6969b65e30bdb9d67144.wav
3   40b86c3ca31ddb5ea16639e1229b8a7c.wav
4   193eb4a1f4028c84d26e36ef74593fa4.wav
5   0a5e69910b2684139cb16a04688c0a4d.wav
6   53babba60d22a0614a62e067a2f340d0.wav
7   fda526a314a64dd8bf516023fba5c7af.wav
8   41f1ae8dd4c8c6092de1fbbd6291861b.wav
9   931f4c63d0de2e25b5e7d636bcc733c6.wav

In [ ]:
'''extracted_features_eval_1=[]
for index_num,row in tqdm(eval_df_1.iterrows()):
    file_name = os.path.join('spcup_2022_eval_part1/'+row["track"])
    audio, sample_rate = librosa.load(file_name, res_type='kaiser_fast') 
    end=np.int(len(audio)/sample_rate)
    audio_splitted = [audio[x:x+sample_rate] for x in range(0, sample_rate*end, sample_rate)]
    data=features_extractor(audio_splitted[0],sample_rate)
    extracted_features_eval_1.append([data])'''

In [4]:
extracted_features_eval_1=[]
for index_num,row in tqdm(eval_df_1.iterrows()):
    file_name = os.path.join('spcup_2022_eval_part1/'+row["track"])
    data=features_extractor(file_name)
    extracted_features_eval_1.append([data])

9000it [12:23, 12.10it/s]

In [5]:
extracted_features_eval_1=pd.DataFrame(extracted_features_eval_1,columns=['track'])
extracted_features_eval_1.head(10)

                                               track
0  [-269.3485, 101.77115, -35.03285, 37.29702, -3...
1  [-254.40703, 117.19196, -33.872215, 0.8692569,...
2  [-266.2454, 128.14958, -26.464298, 35.849255, ...
3  [-322.96405, 100.21652, -8.45915, 23.041285, -...
4  [-289.00134, 121.04054, -24.958841, 24.885279,...
5  [-250.80171, 124.63011, -43.520527, 36.56632, ...
6  [-274.7371, 111.72691, -33.66937, 42.792572, -...
7  [-271.588, 128.47897, -21.678255, 39.222355, -...
8  [-277.04834, 103.96646, -31.784147, 43.915913,...
9  [-244.09427, 129.9668, -34.31263, 49.208572, -...

In [6]:
X_eval_1=np.array(extracted_features_eval_1['track'].tolist())

In [9]:
prediction_prob_1 = model.predict(X_eval_1)
prediction_1 = []
for i in prediction_prob_1:
    prediction_1.append(np.argmax(i))

In [10]:
eval_df_1["algorithm"] = prediction_1
eval_df_1.head()

                                   track  algorithm
id
0   f14498230d583796987a2e9576695384.wav          1
1   2eb02f5f517ad346de780b22535824c0.wav          1
2   d14d2f68081e6969b65e30bdb9d67144.wav          3
3   40b86c3ca31ddb5ea16639e1229b8a7c.wav          5
4   193eb4a1f4028c84d26e36ef74593fa4.wav          0

In [11]:
eval_df_1.to_csv("answer.txt",header=None,index=False,sep =',' )

# part2 eval

In [15]:
eval_file = 'spcup_2022_eval_part2\labels_eval_part2.csv'
eval_df = pd.read_csv(eval_file,index_col='id')
eval_df.head()

                                   track
id
0   36d06279048026b1059236c4b5024f78.wav
1   49550c0090367cd3bf8353b7c4a8f62a.wav
2   b336ac2a2b8cf99ff922bbd3d29a68a3.wav
3   aac54fb7d3a8ba2991b6222100560fd4.wav
4   9e5e48d5b4b147bb50dd4bf851b182c5.wav

In [ ]:
'''extracted_features_eval=[]
for index_num,row in tqdm(eval_df.iterrows()):
    file_name = os.path.join('spcup_2022_eval_part2/'+row["track"])
    audio, sample_rate = librosa.load(file_name, res_type='kaiser_fast') 
    end=np.int(len(audio)/sample_rate)
    audio_splitted = [audio[x:x+sample_rate] for x in range(0, sample_rate*end, sample_rate)]
    data=features_extractor(audio_splitted[0],sample_rate)
    extracted_features_eval.append([data])'''

In [17]:
extracted_features_eval_2=[]
for index_num,row in tqdm(eval_df.iterrows()):
    file_name = os.path.join('spcup_2022_eval_part2/'+row["track"])
    data=features_extractor(file_name)
    extracted_features_eval_2.append([data])

9000it [10:33, 14.21it/s]

In [18]:
len(extracted_features_eval_2)

9000

In [25]:
extracted_features_eval_2=pd.DataFrame(extracted_features_eval_2,columns=['track'])
extracted_features_eval_2.head(10)

                                               track
0  [-252.06316, 102.79661, -34.25687, 32.8102, -1...
1  [-217.5, 155.75189, -40.948097, 26.650967, -48...
2  [-226.81558, 111.22206, -39.41207, 52.268227, ...
3  [-217.39687, 144.88513, -14.431101, 44.094284,...
4  [-181.93166, 99.656815, -40.09121, 50.302208, ...
5  [-230.64337, 105.57649, -28.95027, 36.710648, ...
6  [-259.627, 98.315926, -28.219276, 40.902798, -...
7  [-226.88246, 99.27213, -35.086525, 41.1946, -3...
8  [-213.4795, 138.24318, -44.687325, 39.379116, ...
9  [-190.11365, 107.10865, -46.241817, 49.16183, ...

In [26]:
X_eval=np.array(extracted_features_eval_2['track'].tolist())

In [27]:
prediction_prob = model.predict(X_eval)
prediction = []
for i in prediction_prob:
    prediction.append(np.argmax(i))

In [28]:
eval_df["algorithm"] = prediction
eval_df.head()

                                   track  algorithm
id
0   36d06279048026b1059236c4b5024f78.wav          0
1   49550c0090367cd3bf8353b7c4a8f62a.wav          1
2   b336ac2a2b8cf99ff922bbd3d29a68a3.wav          1
3   aac54fb7d3a8ba2991b6222100560fd4.wav          4
4   9e5e48d5b4b147bb50dd4bf851b182c5.wav          3

In [23]:
eval_df.to_csv("answer.txt",header=None,index=False,sep =',' )